/* background cho 3 item trong carousel-inner */
.bg-img1 {
  background-size: cover;
  background-image: url(images/background1.jpeg);
  background-position: center 8%;
  min-height: 550px;
}

.bg-img2 {
  background-size: cover;
  background-image: url(images/background2.jpeg);
  background-position: left 55%;
  min-height: 550px;
}

.bg-img3 {
  background-size: cover;
  background-image: url(images/background3.jpeg);
  background-position: center 40%;
  min-height: 550px;
}

/* định vị vị trí của phần text chính */
.carousel-caption {
  margin-bottom: 45px;
}

/* footer */
footer {
  margin-top: 150px;
}
